.postCard {
  border-radius: 10px;
  padding: 1.5rem;
  width: 60%;
  margin: auto;
  background-color: var(--white-fff);
  margin-top: 1rem;
}
.postHeader {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  font-weight: bold;
  width: 100%;
  position: relative;
}
.postIcons {
  display: flex;
  justify-content: space-evenly;
  font-size: 1.2rem;
  padding: 10px 2rem;
  cursor: pointer;
  border-top: 1px solid var(--white-ebe);
  border-bottom: 1px solid var(--white-fff);
}
.userAvatar {
  width: 1.87rem;
  height: 1.87rem;
  border-radius: 50%;
}
.commentSection {
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
  align-items: center;
}
.commentInput {
  background-color: var(--grey-f9f);
  border: none;
  outline: none;
  width: 78%;
  padding: 12px;
  border-radius: 10px;
}
.addComment {
  margin: auto;
  padding: 7px 10px;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  color: var(--primary-color);
  border-radius: 5px;
  background-color: var(--grey-ebf);
  cursor: pointer;
}
.postedComment {
  position: relative;
  display: flex;
  flex-direction: column;
}
.deleteCommentIcon {
  position: absolute;
  color: var(--red-ff0);
  justify-self: flex-end;
  cursor: pointer;
  top: 1.7rem;
  right: 0;
}
.commentedUsername {
  font-weight: bold;
  margin: 0;
  margin-top: 1rem;
}
.postedCommentBody {
  font-size: 14px;
}
.commentedUserId {
  margin: 0;
  font-size: small;
}
.pointer {
  cursor: pointer;
}
.deleteIcon {
  position: absolute;
  color: var(--red-ff0);
  justify-self: flex-end;
  cursor: pointer;
  right: 0;
}
.editIcon {
  position: absolute;
  color: var(--grey-808);
  justify-content: flex-end;
  right: 2rem;
  cursor: pointer;
}
.updatePostSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
}
.updatePostInput {
  padding: 1rem;
  background-color: var(--grey-f9f);
  border: none;
  outline-color: var(--primary-color);
  border-radius: 10px;
  width: 65%;
}
.updatePostButton {
  padding: 8px 1.56rem;
  background-color: var(--primary-color);
  border: none;
  color: var(--white-fff);
  border-radius: 10px;
  margin-top: 1rem;
  font-weight: bolder;
  cursor: pointer;
}
