.nav {
  padding: 6px 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 99;
  background-color: var(--white-fff);
  top: 0;
}
.logo {
  width: 2.18rem;
  height: 2.18rem;
}
.logoWrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-weight: bolder;
  font-size: 18px;
}
.searchContainer {
  width: 20%;
  display: flex;
  align-items: center;
  background-color: var(--white-fff);
  padding: 10px;
  border-radius: 1.56rem;
  background-color: var(--grey-f9f);
  height: 1.12rem;
}
.searchBar {
  width: 100%;
  outline: none;
  border: none;
  padding-left: 8px;
  background-color: var(--grey-f9f);
}
.userInfo {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-weight: 500;
  margin-right: 50px;
}
.profileIcon {
  width: 2.18rem;
  height: 2.18rem;
  border-radius: 50%;
}
