.sidebar {
  height: 100vh;
  width: 15%;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  position: fixed;
  top: 4.313rem;
  background-color: var(--white-fff);
}
.sidebarOptions {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.1rem;
  font-weight: bold;
  cursor: pointer;
  padding-left: 10px;
  height: 7%;
  border-radius: 10px;
}
.activeTab {
  color: var(--white-fff);
  background-color: var(--grey-4e5);
}
